version: 2.1

jobs:
  build:
    docker:
      - image: ubuntu:24.04
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apt-get update
            apt-get install -y cmake g++ libsfml-dev
      - run:
          name: Build project
          command: |
            mkdir build
            cd build
            cmake ..
            make

workflows:
  build-workflow:
    jobs:
      - build